<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="/LayItOut/assets/icon-BfJDDTec.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LayItOut</title>
  <script type="module" crossorigin src="/LayItOut/assets/layout-DRphcouq.js"></script>
  <link rel="modulepreload" crossorigin href="/LayItOut/assets/index-QIV6qY6h.js">
  <link rel="modulepreload" crossorigin href="/LayItOut/assets/firestore-Cstgsan0.js">
  <link rel="modulepreload" crossorigin href="/LayItOut/assets/section-T5K6jlVY.js">
  <link rel="modulepreload" crossorigin href="/LayItOut/assets/add_custom_item_dialog-CkfgPpdu.js">
  <link rel="stylesheet" crossorigin href="/LayItOut/assets/index-BpVXnm9S.css">
  <link rel="stylesheet" crossorigin href="/LayItOut/assets/section-CHz4e3Bw.css">
  <link rel="stylesheet" crossorigin href="/LayItOut/assets/add_custom_item_dialog-BEO0y0ji.css">
  <link rel="stylesheet" crossorigin href="/LayItOut/assets/layout-B7meON5j.css">
</head>

<body>
  <div id="root"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>

</body>

</html>