<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LayItOut</title>
  <script type="module" crossorigin src="/LayItOut/assets/layout-JczS2hts.js"></script>
  <link rel="modulepreload" crossorigin href="/LayItOut/assets/firestore-DhivQkY_.js">
  <link rel="modulepreload" crossorigin href="/LayItOut/assets/section-DHnegUv1.js">
  <link rel="stylesheet" crossorigin href="/LayItOut/assets/firestore-BpVXnm9S.css">
  <link rel="stylesheet" crossorigin href="/LayItOut/assets/section-CHz4e3Bw.css">
  <link rel="stylesheet" crossorigin href="/LayItOut/assets/layout-KSmQWXk3.css">
</head>

<body>
  <div id="root"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>

</body>

</html>