<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="/LayItOut/assets/icon-BfJDDTec.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LayItOut</title>
  <script type="module" crossorigin src="/LayItOut/assets/layout-Di9x3BCK.js"></script>
  <link rel="modulepreload" crossorigin href="/LayItOut/assets/index-CIvrVTT1.js">
  <link rel="modulepreload" crossorigin href="/LayItOut/assets/firestore-BIrJGVi9.js">
  <link rel="modulepreload" crossorigin href="/LayItOut/assets/booth_item-8hY5K9n-.js">
  <link rel="modulepreload" crossorigin href="/LayItOut/assets/add_custom_item_dialog-ExnVy99Z.js">
  <link rel="modulepreload" crossorigin href="/LayItOut/assets/auth-iroOyPOj.js">
  <link rel="modulepreload" crossorigin href="/LayItOut/assets/link-DQZq8SUn.js">
  <link rel="stylesheet" crossorigin href="/LayItOut/assets/index-CnmI_T4B.css">
  <link rel="stylesheet" crossorigin href="/LayItOut/assets/booth_item-Dm5Qa8A-.css">
  <link rel="stylesheet" crossorigin href="/LayItOut/assets/add_custom_item_dialog-DrnnvkBk.css">
  <link rel="stylesheet" crossorigin href="/LayItOut/assets/layout-CZCcuVto.css">
</head>

<body>
  <div id="root"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>

</body>

</html>