.booth-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.no-select {

    cursor: not-allowed !important;
}

.viewing {
    pointer-events: none;
}

.booth {
    cursor: pointer !important;
}

.booth-inner {
    word-break: break-all;
}

.person-icon {
    width: 15px;
    height: 15px;
    object-fit: cover;
    cursor: pointer;
}

.booth-sizing {
    font-weight: normal !important;

    margin: 0;
    font-size: 6px;
}

.cannot-pick {
    cursor: not-allowed !important;
    filter: brightness(0.8) grayscale(0.5);
}