.design-tutorial-dialog {
    background-color: rgba(255, 255, 255, 1);

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.12),
        0 2px 8px rgba(0, 0, 0, 0.08),
        inset 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    outline: none !important;

    border: 2px dashed rgba(59, 130, 246, 0.9);
    z-index: 100;
    color: black;
}

.design-tutorial-div h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
    color: rgba(59, 130, 246, 0.9);
    margin-top: 0;

}