#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;

}

body:has(.draggable-item.dragging) {
  cursor: grabbing !important;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;

  /* gap: 1rem; */
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.title {
  font-family: 'Cassandra', sans-serif;
  font-size: 2.5rem;
  color: rgba(59, 130, 246, 0.9);
  /* margin-bottom: 1rem; */
  /* position in to top center of the screen */
  /* position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%); */
  pointer-events: none;
  text-shadow: 0 2px 4px rgba(0, 176, 220, 0.5);
}



@media (max-width: 768px) {
  #root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;

  }
}

.mobile-areas {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* overflow: scroll; */
  /* position: relative;  */
  gap: 1rem;

}

.back-mobile-areas {
  width: 20px;
  rotate: 180deg;
  cursor: pointer;
}

.forward-mobile-areas {
  width: 20px;
  cursor: pointer;

}

.layout-icon {
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #f7f3fb;
  border-radius: 50%;
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.12),
    0 2px 8px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-icon img {
  width: 80%;
  height: 80%;
  object-fit: contain;

}

.template-icon {
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  background-color: #f7f3fb;
  border-radius: 50%;
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.12),
    0 2px 8px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template-icon img {
  width: 80%;
  height: 80%;
  object-fit: contain;

}