.App {
    width: 100%;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 250px;
    height: 60vh;

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.account-div {
    background-color: rgba(59, 130, 246, 0.9);
    color: white;
    /* padding: 8px 16px; */
    border-radius: 8px;
    font-size: 16px;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.nav-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    align-items: center;

    padding: 10px 0;
    border-radius: 8px;
}

.nav-button {
    background-color: transparent;
    color: rgba(59, 130, 246, 0.9);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    width: 80%;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button.selected {
    background-color: rgba(59, 130, 246, 0.9);
    color: white;
}

.nav-button:hover {
    background-color: rgba(59, 130, 246, 1);
    color: white;
}

.content {

    width: 50vw;
    height: 60vh;
    color: rgba(59, 130, 246, 1);
    position: relative;
    border: 2px dashed rgba(59, 130, 246, 0.5);
    border-radius: 12px;
    background-color: rgba(239, 246, 255, 0.5);
    overflow: scroll;

}

.no-designs,
.no-areas,
.no-boothmaps,
.no-items {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.plus-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: white;
    border-radius: 50%;
    border: 4px solid rgba(59, 130, 246, 0.9);
    /* padding: 5px; */
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.12),
        0 2px 8px rgba(0, 0, 0, 0.08),
        inset 0 1px 0 rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}


.plus-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;


}

.area-tiles,
.boothmap-tiles,
.design-tiles,
.custom-item-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}


@media (max-width: 768px) {
    .title {
        padding: 0 !important;

    }

    .dashboard {
        flex-direction: column-reverse;

        gap: 1rem;
    }

    .sidebar {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .account-div {
        width: 50px;
        height: 50px;
        margin: 0 10px;
    }

    .account-icon {
        width: 30px;
        height: 30px;
    }

    .nav-buttons {
        flex-direction: row;
        width: auto;
        overflow-x: auto;
        padding: 0 10px;
        margin: 0;
        gap: 5px;
    }

    .content {
        width: 90vw;
        height: 50vh;
    }

    .plus-icon {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 20px;
    }



}