#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

body:has(.draggable-item.dragging) {
  cursor: grabbing !important;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  gap: 1rem;
}


.title {
  font-family: 'Cassandra', sans-serif;
  font-size: 2.5rem;
  color: rgba(59, 130, 246, 0.9);
  /* margin-bottom: 1rem; */
  /* position in to top center of the screen */
  /* position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%); */
  pointer-events: none;
  text-shadow: 0 2px 4px rgba(0, 176, 220, 0.5);
}



@media (max-width: 768px) {
  #root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;

  }
}