<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="../assets/icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LayItOut</title>
  <meta name="title" content="LayItOut" />
  <meta name="description" content="The #1 Venue Design Planner" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://trackerjo.github.io/LayItOut/" />
  <meta property="og:title" content="LayItOut" />
  <meta property="og:description" content="The #1 Venue Design Planner" />
  <meta property="og:image" content="../assets/banner.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://trackerjo.github.io/LayItOut/" />
  <meta property="twitter:title" content="LayItOut" />
  <meta property="twitter:description" content="The #1 Venue Design Planner" />
  <meta property="twitter:image" content="../assets/banner.png" />
</head>

<body>
  <div id="root"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>

  <script type="module" src="./layout.tsx"></script>
</body>

</html>